/*  This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
@import url("https://bonkmaykrq.github.io/kurs-myspace-themes/snippets/dependencies/custom-cursors.css");

:root{
    --defaultCursor:        url("https://files.gamebanana.com/bitpit/aero_arrow_yellow_cyan.cur"),default !important;
    --textCursor:   url("https://files.gamebanana.com/bitpit/aero_beam_yellow_cyan.cur"),text !important;
    --pointerCursor:   url("https://files.gamebanana.com/bitpit/aero_link_yellow_cyan.cur"),default !important;
}
@font-face {
	font-family:cyberpunk;
	src:url("https://files.gamebanana.com/bitpit/cyberpunk.otf");
}

@font-face {
  src:url("https://files.gamebanana.com/bitpit/quicksand-variablefont_wght.ttf");
  font-family:quicksand;
}

* {font-family:quicksand;}

::-moz-selection { /* Code for Firefox */
  color: cyan;
  background: teal;
}

::selection { /* Code for Chromium */
  color: cyan;
  background: teal;
}

body {
    background:url("https://files.gamebanana.com/bitpit/giphy_8_.gif"), url("https://files.gamebanana.com/bitpit/black_495e7.png"), url("https://files.gamebanana.com/bitpit/ezgif-2-bad90adb6e9d.gif");
    background-attachment:scroll, scroll, fixed;
    background-size:9%, 100%, cover;
}@keyframes slideshow {}

a, .person p {
	color:teal !important;
}
div.col.right a:not(.profile-info a) {
	text-decoration-line:underline;
}
a:hover, .person p:hover{color:cyan !important /*should i be using yellow? -- edit: yeah, it was in the original.*/;text-shadow:0px 0px 7px teal, 0px 0px 7px teal;}

main {
    backdrop-filter:blur(8px);
    background:rgba(10, 10, 10, 0.5);
	color:teal;
	font-size:16px;
}
.container {width:1100px !important;}

button {
	border-radius: 10px;
    background: black;
    color: pink;
    border: 1px solid pink;
	transition-duration:0.5s;
	font-size:13px;
}

button:hover {
	border-radius: 2px;
    background: grey;
    color: pink;
    border: 1px solid black;
}

.count {color:cyan;}

.comments-table > tbody:nth-child(1) > tr > td:nth-child(2) {
	background:url("https://files.gamebanana.com/bitpit/istockphoto-1198290949-170667a.jpg");
	background-attachment:fixed;
	color:pink;
	/*border-radius:0px 20px 20px 0px;*/
}.comments-table > tbody:nth-child(1) > tr > td:nth-child(2) a {color:#ff9999 !important;}
.comments-table > tbody:nth-child(1) > tr > td:nth-child(2) a:hover {text-shadow:0px 0px 4px #777777, 0px 0px 4px #777777 !important;}

.comments-table > tbody:nth-child(1) > tr > td:nth-child(1) {
	background:url("https://files.gamebanana.com/bitpit/2e4753be72e02c0e1775ffc66ddc6679.gif");
	background-attachment:scroll;
	color:pink;
	text-shadow:0px 0px 5px pink, 0px 0px 5px pink;
	/*border-radius:20px 0px 0px 20px;*/
}.comments-table > tbody:nth-child(1) > tr > td:nth-child(1) a {color:white !important;}

.comments-table {border-radius:40px !important;border:none !important;}

h1, h2, h3, h4, h5, h6 {
	color:cyan !important;
}

div.col.left .heading {
	background:teal !important;
	color:cyan !important;
	
	/*background:#004343;
	border-bottom:1px solid teal;
	color:cyan;
	background:teal;*/
}

.player.box {
	background:#004343;
	border:1px solid teal;
	color:cyan;
}/*.songName{padding-left:0px;padding-right:0px;border-bottom:1px solid teal;}*/

.url-info {
	content:url("https://files.gamebanana.com/bitpit/unnamed_2_.gif");
	width:100%;
	border:none !important;
}

.url.box{border:none;}
#container > div.topLeft > div.url.box > div:nth-child(1){display:none;}
#container > div.topLeft > div.url.box > div:nth-child(2) > a{
	content:url("https://files.gamebanana.com/bitpit/unnamed_2_.gif");
	width:100%;
}

input[type="text"] {
	/*background:url("https://files.gamebanana.com/bitpit/76b0353a66d22478769ae777783b0f2c.jpg");*/
	background:#004f4fff;
	background-attachment:scroll;
	background-size:cover;
	border:1px solid cyan;
	border-radius: 10px;
	
	/*Visitor Input Style*/
	color:yellow;
	text-shadow:0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
}

nav {
	background:rgba(0, 128, 128, 0.7) !important;
	backdrop-filter:blur(12px) !important;;
}.top, nav .links {background: transparent !important;}
.links li:after, .right {color:#009f9f !important;}
nav a, .heading a, .logout-btn {color:cyan !important;font-family:quicksand !important;}nav a:hover, .logout-btn:hover {color:yellow !important;border:none !important;font-family:quicksand !important;}

div.col.right .heading {
	/*background:teal;
	color:cyan;*/
	
	background: #004343 !important;
    border: 1px solid teal !important;
    color: cyan !important;
}

footer {
	color:cyan !important;
    backdrop-filter:blur(8px);
    background:rgba(10, 10, 10, 0.5);
}footer a {
	color:teal !important;
	text-shadow:0px 0px 5px cyan !important;
}footer a:hover {
	color:cyan !important;
	text-shadow:0px 0px 5px yellow !important;
}

.profile-info {
	background:#004343 !important;
	border:1px solid teal !important;
	color:cyan !important;
	padding:0px;
	padding-bottom: 10px;
}

.col.left h1, .profile-info h3 a {
	font-family:cyberpunk !important;
	color:#ffff00 !important;
	text-shadow:3px 2px 0px #919100 !important; /*#d4cd00*/
}.col.left h1 {
	font-size:48px;
	justify-content: center;
  display: flex;
}.profile-info h3 {
	font-size: 24px !important;line-height:0.6em;}



/*uncomment the following to revert to pissmode*/
.details/*, .mood*/ {color:#ffff00 !important;text-shadow:1px 1px 0px #919100 !important;}
.details a/*, .mood a*/ {color:#ffffdd !important;text-shadow:0px 0px 2px #ffff00 !important;}
p.online{content:url("https://files.gamebanana.com/bitpit/online_3__1_.gif");}

.contact, .col.left .table-section {
	background:#004343;
	border:1px solid teal !important;
}
/*.contact .f-col > a{
	color:yellow !important;
	text-shadow:none!important;
	transition-duration:0.1s !important;
}.contact .f-col > a:hover {
	color:white !important;
	text-shadow:0.25px 0.25px 2px yellow !important;
}*/


/*comment the following to revert to pissmode*/
.contact .f-col > a{
	color:#00a7a7 !important;
	text-shadow:none!important;
	transition-duration:0.1s !important;
}.contact .f-col > a:hover {
	color:cyan !important;
	text-shadow:0.25px 0.25px 2px #00afaf, 0.25px 0.25px 4px #00afaf44, 0.25px 0.25px 5px #00afaf44 !important;
}



@media only screen
    and (min-device-width : 50px)
    and (max-device-width : 768px) {
	td.shortRight div {color:#008080;text-shadow:none;}
	p.online{content:url("https://files.gamebanana.com/bitpit/online_3_.gif");}
}

.general-about {
	background:#00434344;
	border:1px solid #008f8f66 !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
	height: 171.5px;
	padding-left:5px !important;
	margin-bottom: 5px !important;
}

.details > p {margin:12px;}

.profile-pic {height:160px;width:160px;} /*this seems to be forced by the site anyway*/

.details-table td {background:#00000044 !important;}
.details-table tr td:nth-child(1) {color:cyan !important;}
.details-table tr td:nth-child(1) a {color:cyan !important;}
